*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
   
}

html{
    font-size: 16px;
}
img{
    width:100%
}

main {
    padding: 0 20px;
  }

 h1{
  margin-top: 30px;
 text-align: center;
}
   h2{
    padding: 50px;
   }


h1:hover{ 
    cursor: pointer;
    color:dodgerblue;;

}

a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    opacity: 0.7;
}
header .logo-marca{
    width: 5%;
    padding-right: 10px;
    
}
/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: black;
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
  }
  

  .header a.logo {
    font-weight: bold;
  }
  

  .header a:hover {
    background-color:white;
    color: black
    
  }
  

  .header a.active {
    background-color: dodgerblue;
    color: white
  }
  

  .header-right {
    float: right;
  }

  td input{
    width: 100%;
  }
  #busca{
    overflow: hidden;
    padding-left: 3%;
    margin-top: 40px;
    width: 100%;
  }

  #busca img {
      width: 1%;
      position: absolute;
      left: 16%;
      top: 33.3%;

  }
  
  #busca input{
      width: 15%;
      height: 4%;
     border-radius: 15px;
     margin: auto;
     
  }
  
  .tabela{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
     padding-top: 20px;
     padding-left: 70px;
     
   
  
   }
  .table-rom{
      overflow-x: auto;
    }
  .table-rom{
      text-align: center;
  }
   thead {
      background-color: #000;
      color: white;   
      margin: 10px;
      
   }
  tr th{
      height:50px;
     padding: 10px;
      padding-right:175px ;
      
   }
  
  td {
      padding: 2%;
      background-color: #808080;
      
  }
  td img{
      width: 80%;
      
  }
  td h3{
      border:  1px #808080;
  }
   td a  {
      display:flex ;
      justify-content: center;
      color: white;
      width: 90%;
  }
  
  ul li{
      list-style: none;
      text-align: none;
   
  }
  table nav ul{
      display: flex;
  }
  #list-criar{
      
      display: flex;
      padding-right: 10px;
     
  }
  #list-criar  a{
     padding: 25px;
     padding-left: 10px;
     margin: 10px;
     color:white;
      border: solid 2px black;
      border-radius: 15px ;
      text-align: center;    
  }
  #list-criar a:hover{
   color:	#FFFFE0
  }
  .criar{
      
      background-color:#778899;
     
  }
  .atualizar{
     background-color:	#00008B
  }
  .delete{
     background-color: 	#DC143C;
  }
  
  .visualizar{
      background-color: 	#6A5ACD;
  }
  #sites{
      background-color: #000;
      height: 40%;
      margin-top: 70px;
  }
  
.logo-marca2{
    width: 10%;
    padding: 10px;
    margin-top: 4%;

}
.logo-facebook{
    width: 2%;
    margin-bottom: 4%;
    margin-left: 75%;
    text-align: center;
}
.logo-ins{
    width: 2%;
   margin: auto;
   margin-bottom:100px;
    margin-left: 85%;
    text-align: center;
}


#endereco{
    background-color: #808080;
    width: 100%;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    
}
#endereco #end{
    
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    
}
#endereco #di{
    
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.list-site{
    color: white;
}


@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
    .header img{
        width: 20%;
        text-align: left;
        float: none;
    }
    .flz img{
        width: 20%;
        text-align: left;
        float: none;
    }
  
    .logo a{
        display: block;
        float: none;
        text-align: right;
        width:30%;
    }
   
    
  }
  @media only screen and (min-width: 1200px){
     .tabela{width: 100%};
     
  }



  